@import '../../styles/config';

.loginMain {
    justify-content: center;
}

.registerLink {
    margin-top: 40px;
    font-weight: 500;
    border-bottom: 1px solid $black;
}

.label {
    text-align: center;
}

.userInput {
    width: 90%;
    text-align: center;
    border-bottom: 1px solid $black;
    padding-bottom: 2px;
    font-size: 22px;
    font-weight: 500;
}

::placeholder {
    color: $black;
}

::-webkit-input-placeholder {
    color: $black;
}
::-moz-placeholder {
    color: $black;
}
:-ms-input-placeholder {
    color: $black;
}
::-ms-input-placeholder {
    color: $black;
}
