@import '../../styles/config';

.infoCard {
    @include shadow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px;
    background-color: $white;
    border-radius: 10px;
}

.infoTitle {
    font-size: 16px;
    margin-bottom: 8px;
}