@import '../../styles/config';

.header {
    background-color: $green;
    color: $white;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 80px;
    width: 100%;
    padding: 12px;
    position: relative;
}

.title {
    font-weight: 400;
    font-size: 18px;
    margin: 0;
}

.backBtn {
    @include flex-center;
    position: absolute;
    left: 8px;
    cursor: pointer;
}